/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
.home-shortcuts {
    margin: 0;
    background: #6927ff;
    color: #fff;
  }